body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1157px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1796_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  height:306px;
}
#u1796 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:27px;
  width:418px;
  height:306px;
}
#u1796_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1797_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:523px;
  height:449px;
}
#u1797 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:343px;
  width:523px;
  height:449px;
}
#u1797_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1798_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:733px;
}
#u1798 {
  border-width:0px;
  position:absolute;
  left:617px;
  top:59px;
  width:540px;
  height:733px;
}
#u1798_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1799_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:428px;
  height:217px;
}
#u1799 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:828px;
  width:428px;
  height:217px;
}
#u1799_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1800_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:507px;
  height:587px;
}
#u1800 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:1072px;
  width:507px;
  height:587px;
}
#u1800_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1801_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:467px;
  height:794px;
}
#u1801 {
  border-width:0px;
  position:absolute;
  left:642px;
  top:820px;
  width:467px;
  height:794px;
}
#u1801_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
