body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:650px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u653 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u654_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:366px;
}
#u654 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:366px;
}
#u654_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u655_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:269px;
}
#u655 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:366px;
  width:650px;
  height:269px;
}
#u655_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u656_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:378px;
}
#u656 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:635px;
  width:650px;
  height:378px;
}
#u656_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u657_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:308px;
}
#u657 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1065px;
  width:650px;
  height:308px;
}
#u657_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u658_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:52px;
}
#u658 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1013px;
  width:650px;
  height:52px;
}
#u658_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u659_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:308px;
}
#u659 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1373px;
  width:650px;
  height:308px;
}
#u659_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u660_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:311px;
}
#u660 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1691px;
  width:650px;
  height:311px;
}
#u660_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u661_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:359px;
}
#u661 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2012px;
  width:650px;
  height:359px;
}
#u661_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u662_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:329px;
}
#u662 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2371px;
  width:650px;
  height:329px;
}
#u662_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u663_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:385px;
}
#u663 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2700px;
  width:650px;
  height:385px;
}
#u663_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
