body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:511px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2900_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2900 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:249px;
  width:375px;
  height:667px;
}
#u2900_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2901_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2901 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:268px;
  width:375px;
  height:44px;
  font-size:20px;
}
#u2901_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:371px;
  word-wrap:break-word;
}
#u2902_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2902 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:282px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u2902_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u2903_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2903 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:249px;
  width:375px;
  height:20px;
}
#u2903_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2904_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u2904 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:322px;
  width:320px;
  height:44px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u2904_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  word-wrap:break-word;
}
#u2905_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u2905 {
  border-width:0px;
  position:absolute;
  left:171px;
  top:382px;
  width:48px;
  height:48px;
}
#u2905_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2906_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u2906 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:382px;
  width:48px;
  height:48px;
}
#u2906_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2907_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u2907 {
  border-width:0px;
  position:absolute;
  left:344px;
  top:382px;
  width:48px;
  height:48px;
}
#u2907_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2908_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u2908 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:382px;
  width:48px;
  height:48px;
}
#u2908_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2909_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u2909 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:440px;
  width:21px;
  height:13px;
  font-size:10px;
}
#u2909_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u2910_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u2910 {
  border-width:0px;
  position:absolute;
  left:271px;
  top:440px;
  width:21px;
  height:13px;
  font-size:10px;
}
#u2910_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u2911_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u2911 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:440px;
  width:21px;
  height:13px;
  font-size:10px;
}
#u2911_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u2912_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u2912 {
  border-width:0px;
  position:absolute;
  left:439px;
  top:440px;
  width:31px;
  height:13px;
  font-size:10px;
}
#u2912_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u2913_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u2913 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:469px;
  width:48px;
  height:48px;
}
#u2913_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2914_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u2914 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:527px;
  width:21px;
  height:13px;
  font-size:10px;
}
#u2914_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u2915_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u2915 {
  border-width:0px;
  position:absolute;
  left:258px;
  top:469px;
  width:48px;
  height:48px;
}
#u2915_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2916_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u2916 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:527px;
  width:21px;
  height:13px;
  font-size:10px;
}
#u2916_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u2917_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u2917 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:469px;
  width:48px;
  height:48px;
}
#u2917_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2918_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u2918 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:527px;
  width:21px;
  height:13px;
  font-size:10px;
}
#u2918_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u2919_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u2919 {
  border-width:0px;
  position:absolute;
  left:431px;
  top:469px;
  width:48px;
  height:48px;
}
#u2919_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2920_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u2920 {
  border-width:0px;
  position:absolute;
  left:445px;
  top:527px;
  width:21px;
  height:13px;
  font-size:10px;
}
#u2920_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u2921_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:54px;
}
#u2921 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:595px;
  width:72px;
  height:54px;
}
#u2921_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:68px;
  word-wrap:break-word;
}
#u2922_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2922 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:595px;
  width:43px;
  height:16px;
}
#u2922_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2923_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u2923 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:616px;
  width:76px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u2923_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u2924_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#666666;
}
#u2924 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:636px;
  width:28px;
  height:13px;
  font-size:10px;
  color:#666666;
}
#u2924_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u2925_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u2925 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:604px;
  width:36px;
  height:36px;
  font-size:12px;
}
#u2925_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  word-wrap:break-word;
}
#u2926_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u2926 {
  border-width:0px;
  position:absolute;
  left:458px;
  top:604px;
  width:36px;
  height:36px;
  font-size:12px;
}
#u2926_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  word-wrap:break-word;
}
#u2927_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:2px;
}
#u2927 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:664px;
  width:276px;
  height:1px;
}
#u2927_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2928_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:54px;
}
#u2928 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:677px;
  width:72px;
  height:54px;
}
#u2928_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:68px;
  word-wrap:break-word;
}
#u2929_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2929 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:677px;
  width:43px;
  height:16px;
}
#u2929_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2930_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u2930 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:698px;
  width:76px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u2930_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u2931_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#666666;
}
#u2931 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:718px;
  width:28px;
  height:13px;
  font-size:10px;
  color:#666666;
}
#u2931_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u2932_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u2932 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:686px;
  width:36px;
  height:36px;
  font-size:12px;
}
#u2932_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  word-wrap:break-word;
}
#u2933_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u2933 {
  border-width:0px;
  position:absolute;
  left:458px;
  top:686px;
  width:36px;
  height:36px;
  font-size:12px;
}
#u2933_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  word-wrap:break-word;
}
#u2934_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:2px;
}
#u2934 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:746px;
  width:276px;
  height:1px;
}
#u2934_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2935_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:54px;
}
#u2935 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:759px;
  width:72px;
  height:54px;
}
#u2935_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:68px;
  word-wrap:break-word;
}
#u2936_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2936 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:759px;
  width:43px;
  height:16px;
}
#u2936_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2937_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u2937 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:780px;
  width:76px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u2937_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u2938_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#666666;
}
#u2938 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:800px;
  width:28px;
  height:13px;
  font-size:10px;
  color:#666666;
}
#u2938_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u2939_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u2939 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:768px;
  width:36px;
  height:36px;
  font-size:12px;
}
#u2939_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  word-wrap:break-word;
}
#u2940_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u2940 {
  border-width:0px;
  position:absolute;
  left:458px;
  top:768px;
  width:36px;
  height:36px;
  font-size:12px;
}
#u2940_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  word-wrap:break-word;
}
#u2941_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:2px;
}
#u2941 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:828px;
  width:276px;
  height:1px;
}
#u2941_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2942_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:54px;
}
#u2942 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:841px;
  width:72px;
  height:54px;
}
#u2942_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:68px;
  word-wrap:break-word;
}
#u2943_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2943 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:841px;
  width:43px;
  height:16px;
}
#u2943_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2944_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u2944 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:862px;
  width:76px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u2944_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u2945_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#666666;
}
#u2945 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:882px;
  width:28px;
  height:13px;
  font-size:10px;
  color:#666666;
}
#u2945_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u2946_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u2946 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:850px;
  width:36px;
  height:36px;
  font-size:12px;
}
#u2946_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  word-wrap:break-word;
}
#u2947_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u2947 {
  border-width:0px;
  position:absolute;
  left:458px;
  top:850px;
  width:36px;
  height:36px;
  font-size:12px;
}
#u2947_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  word-wrap:break-word;
}
#u2948_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:2px;
}
#u2948 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:910px;
  width:276px;
  height:1px;
}
#u2948_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2949_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2949 {
  border-width:0px;
  position:absolute;
  left:221px;
  top:558px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2949_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2950_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u2950 {
  border-width:0px;
  position:absolute;
  left:377px;
  top:558px;
  width:57px;
  height:16px;
  color:#666666;
}
#u2950_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2951_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:75px;
  height:5px;
}
#u2951 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:580px;
  width:72px;
  height:2px;
  color:#666666;
}
#u2951_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2952_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u2952 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:251px;
  width:27px;
  height:16px;
}
#u2952_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2953_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
}
#u2953 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:251px;
  width:23px;
  height:16px;
}
#u2953_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
